<!DOCTYPE html>
<html>

<head>
    <title>Unauthorized view</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&display=swap" rel="stylesheet">
</head>

<body
    style="background-color: #000; background-image: linear-gradient(147deg, #000000 0%, #434343 100%); background-attachment: fixed;">
    <div style=" text-align: center; vertical-align: middle; margin-top:10rem; color: beige;">
        <span class="material-symbols-outlined" style="font-size: 10rem;">
            visibility_lock
        </span>
        <span style="font-family:'Belanosima','sans-serif'; font-size: 50px; margin-top: 0;">ACCESS DENIED</span>
        <br>
        <span style="font-family:'Belanosima','sans-serif'; font-size: 40px; margin-left: 10%;">403!</span>
        <br>
        <br>
        <span style="font-family:'Belanosima','sans-serif'; font-size: 17px;">You don't have permissions to view this
            contents.</span>
        <br>
        <br>
        <button style="
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;">
            <a href="https://localhost:8080" style="text-decoration: none; 
            color: #fff;">Go to Website Home Page</a></button>
    </div>
</body>

</html>